/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/buildrnaseqbundle -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    gencodeVersion              = 44
    spliceJunctionOverhang      = 100 // Length of reads - 1
    star_output_zip             = "STARv2710a_genome_GRCh38_noALT_noHLA_noDecoy_ERCC_v44_oh100"
    rsem_output_zip             = "rsem_reference_GRCh38_gencode44_ercc"
    executor                    = "slurm"
    publish_intermediate_data   = false

    // Boilerplate options
    outdir                     = "rnaseq-hg38-gencode.v44-bundle"
}
